* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	width: auto;
}

ul {
	list-style: none;
}

h2 {
	color: white;
}

input {
	min-width: none;
}
