#head2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: bolder;
}

.events-container {
    display: flex;
    flex-wrap: wrap;
}

.events-container > div {
    flex: 1;
    padding: 30px;
    margin: 20px;
    border: 1px solid black;
    box-shadow: 5px 10px #888888;
    background-color: #00008b;
    color: white;
}

.events-container > div img {
    margin-left: -30px;
    margin-top: -30px;
    object-fit: cover;
    object-position: bottom;
    width: calc(100% + 60px);
    height: 150px;
}