:root {
    --logo-width: 110px;
}

#header {
    width: 100%;
    height: auto;
    border: none;
    background-color: steelblue;
    position: sticky;
    top: 0;
    box-shadow: 0 0 8px #0005;
    z-index: 10;
}

#header a {
    text-decoration: none;
    color: black;
}

.header-top,
.header-nav {
    padding: 0;
    padding-left: calc(100% - 1200px + var(--logo-width));
    padding-right: calc(100% - 1200px);

    margin: 0 auto;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

#header .logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: calc(100% - 1200px);
    width: var(--logo-width);
}
#header .logo img {
    width: 100%;
    padding: 15px;
}

.header-top {
    padding-top: 5px;
    padding-bottom: 5px;
}

.header-nav {
    background-color: white;
}

.header-nav h2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    /* font-style: italic; */
    font-weight: bold;
    font-variant: small-caps;
    letter-spacing: 0.25rem;
    flex: 1;
    /* text-shadow: 0 0 3px white, 0 0 5px #0000ff; */
}

.header-top .search-container {
    display: flex;
}
.header-top .search-container input {
    flex: 1;
    min-height: none;
    height: 25px;
    padding: 5px;
}

.header-top .search-container button {
    flex: 1;
    height: 25px;
    padding: 2.5px;
    width: 25px;
    border: none;
    border-radius: 5px;
    box-sizing: content-box;
    background-color: #f7f7f7;
    cursor: pointer;
}
.header-top .search-container button:hover {
    color: steelblue;
}

.header-container ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.header-nav .navigation {
    display: flex;
    padding: 0;
    margin: 0;
}

.header-nav .navigation li a {
    padding: 18px 20px;
    display: block;
    font-size: large;
}

#header .header-nav .navigation a:hover {
    background-color: #33f;
    box-shadow: -5px 0 5px -5px #0007,5px 0 5px -5px #0007;
    color: white;

    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}