header {
    width: 100%;
    height: auto;
    border-style: inset;
    background-color: steelblue;
    /* opacity: 0.3; */
    /* border-width: large; */
    /* border-color: hsl(0, 100%, 50%); red */
    /* padding: 20px; */
    position: sticky;
    top: 0;
}

.header-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.header-container img {
    flex: 0;
    margin-left: 2px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-variant: small-caps;
    text-shadow: 0 0 3px white, 0 0 5px #0000ff;
}

.header-container h1 {
    /* margin-right: 100px; */
    flex: 1;
}

.header-container input {
    flex: 1;
    height: 25px;
    border: 2px solid none;
    border-radius: 5px;
}

.header-container button {
    flex: 1;
    height: 25px;
    width: 25px;
    border: 2px solid none;
    border-radius: 5px;
}

.header-container ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.header-container li {
    flex: 0;
    padding: 10px;
    margin-right: 25px;
    font-size: large;
}

.header-container a {
    text-decoration: none;
    color: aliceblue;
    padding: 8px;
    text-shadow: 2px 2px 3px black, 0 0 25px blue, 0 0 5px darkblue;
}

.header-container a:hover {
    color: #0000ff !important;

    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
