.home-links {
    display: flex;
    justify-content: center;
}
.home-links a {
    color: black;
    text-decoration: none;
}
.home-links .divider {
    width: 1px;
    margin: 0 8px;
    background-color: #0002;
}
.home-links::before {
    content: "";
}